li {
    list-style-type: none;
    margin: 5px;
}
input {
    padding: 5px;
}

button {
    margin: 5px 10px;
    padding: 5px;
}

.edit-title__name {
    display: block;
    font-weight: 500;
    margin: 5px auto;
}

.btn-back-detail {
    padding: 10px;
    margin-right: 50px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: rgb(46, 138, 161);
    transition: .2s ease-in; 
  }

  .btn-back-detail {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 170, 211);
  
}