header {
    height: 60px;
    text-align: center;
    align-content: center;
    background-color: #333;
}

.btn-home-back {
    text-decoration: none;
    display: block;
    margin: 0px auto;
    color: #fff;
}

.btn-home-back:hover {
    font-weight: 500;
}

.header-nav {
    margin: 0 auto;
    width: 800px;
    display: flex;
    
}